---
import Layout from '../layouts/Layout.astro';

import { WIZARDS } from '../wizards';
---

<Layout title='Gemstone Wizards'>
  <main>
    <nav>
      {
        WIZARDS.map(wizard => (
          <a
            href={wizard.name}
            style={{
              '--x': wizard.offsets.x,
              '--y': wizard.offsets.y,
              '--s': wizard.offsets.scale,
              '--c1': wizard.color1,
              '--c2': wizard.color2,
              '--name': wizard.name,
            }}
          >
            <div class='img-container'>
              <img
                src={wizard.art}
                alt={wizard.alt}
                width='928'
                height='1312'
              />
            </div>
          </a>
        ))
      }
    </nav>
  </main>
</Layout>

<style lang='scss'>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 5rem;
  }
  a {
    view-transition-name: var(--name);
    position: relative;
    display: block;
    padding: 8px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, var(--c2), var(--c1));
      opacity: 0.5;
      transition: opacity 0.2s ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .img-container {
        filter: brightness(1.2);
      }
    }
  }
  .img-container {
    position: relative;
    width: 10rem;
    max-width: 10rem;
    height: auto;
    aspect-ratio: 1;
    overflow: hidden;
    box-shadow: 0 0 0 7px black;
    transition: filter 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: 1px solid var(--white);
      mix-blend-mode: overlay;
      pointer-events: none;
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    translate: var(--x) var(--y);
    scale: var(--s);
    pointer-events: none;
  }
</style>
