---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧙‍♂️</text></svg>'
    />
    <meta name='generator' content={Astro.generator} />
    <meta name='view-transition' content='same-origin' />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --black: oklch(0.13 0.02 90);
  }
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: oklch(0.13 0.02 90);
  }
  body {
    margin: 0;
  }
  main {
    display: grid;
    place-content: center;
    width: 100vw;
    min-height: 100vw;
    min-height: 100dvh;
  }
  img {
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Old Fenris', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.675em;
    font-weight: 500;
    padding-left: 0.85ch;
  }

  /* Old stuff going out */
  ::view-transition-old(wizard) {
    animation: fade 2s linear forwards;
  }

  /* New stuff coming in */
  ::view-transition-new(wizard) {
    animation: fade 2s linear reverse;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
